@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 33% 99%;
    --foreground: 24 13% 18%;
    
    --card: 60 33% 99%;
    --card-foreground: 24 13% 18%;
    
    --popover: 60 33% 99%;
    --popover-foreground: 24 13% 18%;
    
    --primary: 125 18% 24%;
    --primary-foreground: 60 33% 99%;
    
    --secondary: 34 10% 89%;
    --secondary-foreground: 24 13% 18%;
    
    --muted: 34 10% 97%;
    --muted-foreground: 24 13% 18%;
    
    --accent: 34 10% 89%;
    --accent-foreground: 24 13% 18%;
    
    --destructive: 0 53% 35%;
    --destructive-foreground: 60 33% 99%;
    
    --border: 34 10% 89%;
    --input: 34 10% 89%;
    --ring: 125 18% 24%;
    
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}